.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    /* height:90vh; */
    font-family: sans-serif;
}
.popular h1{
    color:#171717;
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 50px;
}
.popular hr{
    width:200px;
    height:6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 120px; /* Adjust the value to increase space on both sides */
    box-sizing: border-box; /* Ensures padding is included in the width */
   
}
.popular-item{
    /* margin-top: 50px;
    display: flex;
    gap:30px; */
    display: flex;
    gap: 30px;
    max-width: 1200px; /* or any appropriate width for centering */
    margin: 0 auto; 
    margin-top: 30px;
    width:100%;
}